<!doctype html>
<html>
<head>
  <title>clothesDB</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:2%; }
    </style>
</head>
<body>
<div class="container">

  <div class="jumbotron text-center">
      <h1><span class="fa f fa-wpexplorer"></span>Box of Things</h1>
  </div>
</div>
</body>
</html>
